.container {
    background-image: url("../assets/lum3n--RBuQ2PK_L8-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    margin: 0 auto;
}

h1 {
    margin-left: 20%;
    padding-top: 100px;
}